In [98]:
import numpy as np
import pandas as pd
import nltk
import string

## Data Cleaning

In [99]:
dirty_data = pd.read_csv('job_descriptions.csv')

In [100]:
punkt = string.punctuation
punkt = punkt[0:2] + punkt[3:13] + punkt[14:-1]

for i in range(len(dirty_data)):
    dirty_data.loc[i, 'job'] = dirty_data.loc[i, 'job'].lower()

    punkt_str = dirty_data.loc[i, 'job']
    test_str = punkt_str.translate(str.maketrans('', '', punkt))
    dirty_data.loc[i, 'job'] = test_str

In [101]:
clean_data = dirty_data.copy()
clean_data = clean_data.drop(columns=['url'])

for i in range(len(clean_data)):
    clean_data.loc[i, 'job'] = nltk.sent_tokenize(dirty_data['job'][i])

clean_data = clean_data.explode('job').reset_index(drop=False)

In [102]:
clean_data

,index,job,skills
0,0,summarythe database developer is part of the c...,"['C#', '.Net', 'database performance', 'C#', '..."
1,0,strong development skills in c# and .net inclu...,"['C#', '.Net', 'database performance', 'C#', '..."
2,0,the ideal candidate should have a deep underst...,"['C#', '.Net', 'database performance', 'C#', '..."
3,0,effective at communicating with users to defin...,"['C#', '.Net', 'database performance', 'C#', '..."
4,0,or b.s from a fouryear college or university35...,"['C#', '.Net', 'database performance', 'C#', '..."
...,...,...,...
20717,1840,no agencies.salary range 130000 to 170000 per ...,"['HTML', 'Python', 'Wordpress']"
20718,1841,become part of one of a large highperforming n...,"['Cloud Infrastructure', 'CI/CD', 'Python']"
20719,1841,what will you doautomate and configure the clo...,"['Cloud Infrastructure', 'CI/CD', 'Python']"
20720,1841,youll do this bycollaborating with teams accro...,"['Cloud Infrastructure', 'CI/CD', 'Python']"
20721,1841,the company is looking to fill this role asap.,"['Cloud Infrastructure', 'CI/CD', 'Python']"