In [79]:
import numpy as np
import pandas as pd
from nltk.tokenize import sent_tokenize, word_tokenize
import string
from flashtext import KeywordProcessor

## Data Cleaning

In [97]:
dirty_data = pd.read_csv('/Users/abhi/job_descriptions.csv')

In [98]:
punkt = string.punctuation
punkt = punkt[0:2] + punkt[3:13] + punkt[14:-1]

for i in range(len(dirty_data)):
    dirty_data.loc[i, 'job'] = dirty_data.loc[i, 'job'].lower()

    punkt_str = dirty_data.loc[i, 'job']
    test_str = punkt_str.translate(str.maketrans('', '', punkt))
    dirty_data.loc[i, 'job'] = test_str

In [110]:
clean_data = dirty_data.copy()
clean_data = clean_data.drop(columns=['url'])
nuke_data = clean_data.copy()

for i in range(len(clean_data)):
    clean_data.loc[i, 'job'] = word_tokenize(dirty_data['job'][i])

clean_data = clean_data.explode('job').reset_index(drop=False)
clean_data = clean_data.rename(columns={'index': 'job_id'})

In [114]:
clean_data.loc[clean_data['job_id'] == 0]

     job_id         job                                             skills
0         0  summarythe  ['C#', '.Net', 'database performance', 'C#', '...
1         0    database  ['C#', '.Net', 'database performance', 'C#', '...
2         0   developer  ['C#', '.Net', 'database performance', 'C#', '...
3         0          is  ['C#', '.Net', 'database performance', 'C#', '...
4         0        part  ['C#', '.Net', 'database performance', 'C#', '...
..      ...         ...                                                ...
743       0           a  ['C#', '.Net', 'database performance', 'C#', '...
744       0     project  ['C#', '.Net', 'database performance', 'C#', '...
745       0          is  ['C#', '.Net', 'database performance', 'C#', '...
746       0    complete  ['C#', '.Net', 'database performance', 'C#', '...
747       0           .  ['C#', '.Net', 'database performance', 'C#', '...

[748 rows x 3 columns]